html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #0f172a, #1e3a8a, #3b82f6);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

#root {
  min-width: 100vw; /* <-- IMPORTANT */
  min-height: 100vh;
  display: flex;
}

* {
  background-color: transparent !important;
}
